{% extends 'layout.html' %}

{% block title %}
<title>Modifier Contrat</title>
{% endblock %}

{% block content %}
<form action="/contrats/edit" method="post" style="width:50%; margin-left:25%; margin-top:5%;">
    <div>
        <input type="hidden" name="id" value="{{ id }}">
        <label for="date_debut" class="form-label">Date de début:</label>
        <input type="date" class="form-control" name="date_debut" id="date_debut" required placeholder="date de début du contrat" value="{{ contrat.date_debut }}">
        <br>

        <input type="hidden" name="id" value="{{ id }}">
        <label for="date_fin" class="form-label">Date de fin:</label>
        <input type="date" class="form-control" name="date_fin" id="date_fin" required placeholder="date de fin du contrat" value="{{ contrat.date_fin }}">
        <br>

        <input type="hidden" name="id" value="{{ id }}">
        <label for="charges" class="form-label">Charges:</label>
        <input type="quantite" class="form-control" name="charges" id="charges" required placeholder="charges du contrat" value="{{ contrat.charges }}">
        <br>

        <label for="num_locataire" class="form-label">Numéro de locataire:</label>
        <select name="num_locataire" id="num_locataire" class="form-control" required>
            {% for contr in contrats %}
            <option value="{{ contr.num_locataire }}" {% if contr.num_locataire == contrat.locataire %}selected{% endif %}>{{ contr.num_locataire }}</option>
            {% endfor %}
        </select>
        <br>


    </div>
    <br><br>
    <div style="text-align:center;">
        <button type="submit" class="btn btn-outline-secondary btn-lg" name="valider" style="margin: 2%;"><img src="/static/valider.svg" alt="bouton  valider" style="width:1.5rem;"></button>
        <button type="reset" class="btn btn-outline-secondary btn-lg" name="reset" style="margin: 2%;"><img src="/static/reset.svg" alt="bouton annuler" style="width:1.5rem;"></button>
    </div>
</form>
{% endblock %}