<nav class="navbar navbar-expand-lg bg-body-tertiary" style="border-bottom:1px solid darkgray; width:98%; margin-left:1%;">
    <div class="container-fluid">
        <a href="/" class="link-dark" style="text-decoration:none"><h3>Éco-Quartier</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-left:2%;">
            <ul class="navbar-nav">

                <li class="btn-group">
                    <button type="button" class="border border-0 bg-transparent link-success nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Corentin
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/compteursMensuels/show">Compteurs mensuels (CRUD)</a></li>
                        <li><a class="dropdown-item" href="/compteursMensuels/filter">Compteurs mensuels (états)</a></li>
                    </ul>
                </li>

                <li class="btn-group">
                    <button type="button" class="border border-0 bg-transparent link-success nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Tim
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/appartements/show">Appartements (CRUD)</a></li>
                        <li><a class="dropdown-item" href="/appartements/filter">Appartements (états)</a></li>
                    </ul>
                </li>

                <li class="btn-group">
                    <button type="button" class="border border-0 bg-transparent link-success nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Kylian
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/contrats/show">Contrats (CRUD)</a></li>
                        <li><a class="dropdown-item" href="/contrats/filter">Contrats (états)</a></li>
                    </ul>
                </li>

                <li class="btn-group">
                    <button type="button" class="border border-0 bg-transparent link-success nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Mathis
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/colocations/show">Colocations (CRUD)</a></li>
                        <li><a class="dropdown-item" href="/colocations/filter">Colocations (états)</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>